fastapi
uvicorn
langchain
langchain-core
langchain-community
langchain_text_splitters
pypdf
pymupdf
jupyter
ipykernel
tqdm
sentence-transformers
chromadb
pandas
httpx
beautifulsoup4
python-docx
python-multipart

# Testing
pytest
pytest-asyncio
pytest-cov
